<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="quote">
            <div class="cunt">
                <span><%= body %></span> <br> <br>
                <span id="by"><%= by %></span>
            </div>
            
        </div>
        
    </section>
    
    <div class="subscribe-section">
        <form action="" method="post">
            <div class="form__group field">
                <input type="email" class="form__field" placeholder="Name" name="email" id='name' required />
                <label for="email" class="form__label">Email Id</label>
              </div>

              <div class="buttons">
                <button type="submit" class="button-89" role="button" formaction="/userInfo" name="SUB">Subscribe</button>
                <button type="submit" class="button-89" role="button" formaction="/delete" name="UNSUB">Un-Subscribe</button>
              </div>
        </form>
        
    </div>
</body>
<script src="/js/home.js"></script>

</html>